
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Politician Demo - Truthbot</title>
        <meta name="description" content="Truthbot | keeping your polis honest | Govhack 2016">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="../../css/flexboxgrid.min.css" type="text/css">
        <link rel="stylesheet" href="../../css/index.min.css" type="text/css">
        <link rel="stylesheet" href="../../css/main.css">
        <script src="../../js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body class="wrap container-fluid">
      <!--[if lt IE 8]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      {{#poli}}
        <nav>
          <div class="row center-xs">
            <div class="col-xs-12">
                <a href="/govhack/2016/truthbot/">Home</a> &nbsp; <a href="/govhack/2016/truthbot/site/list.html">Back to demo index</a> &nbsp; {{name}}
            </div>
          </div>
        </nav>

        <header>
          <div class="row center-xs">
            <div class="col-xs-12">
              <img class="ProfileAvatar-image" src="{{profile_image_large_url}}" alt="{{name}}">
              <h1>{{name}}</h1>
              <a href="https://twitter.com/{{screen_name}}" target="_blank">{{screen_name}}</a>
            </div>
          </div>
        </header>

        {{#tweets}}
        <section>
            <div class="row center-xs start-sm top-sm">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="row start-xs start-sm top-sm">
                      <div class="col-xs-3 col-sm-2">
                        <img src="../../img/chat-tw.svg" width="100%">
                      </div>
                      <div class="col-xs-12 col-sm-8 poli-tweet">
                        <div class="tweet">
                          <p>{{{text}}}</p>
                        </div>
                        <!-- <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">Congratulations to the Prime Minister on his announcement today. <a href="https://twitter.com/TurnbullMalcolm">@TurnbullMalcolm</a> <a href="https://t.co/lANrBSmhlR">pic.twitter.com/lANrBSmhlR</a></p>&mdash; Cory Bernardi (@corybernardi) <a href="https://twitter.com/corybernardi/status/758856175119020033">July 29, 2016</a></blockquote> -->
                      </div>
                    </div>
                    <div class="row center-xs start-sm top-sm">
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                          
                          <div class="fact-matches">
                            <div class="row start-xs">
                              <div class="col-xs-9 col-sm-10"><label>Truthbot matches</label></div>
                              <div class="col-xs-3 col-sm-2 text-right"><label>Score</label></div>
                            </div>
                            {{#articles}}
                            <div class="row start-xs start-sm">
                              <div class="col-xs-9 col-sm-10">
                                <a href="{{article_url}}" target="_blank"><small>{{headline}}</small></a>
                              </div>
                              <div class="col-xs-3 col-sm-2 text-right">{{score}}</div>
                            </div>
                            {{/articles}}
                          </div>
                          
                          {{#has_datasets}}
                          <div class="keyword-matches">
                            <div class="row start-xs start-sm">
                              <div class="col-xs-12">
                                <label><small>RELEVANT DATA SETS:</small></label>
                                <br>
                                {{#datasets}}
                                  <a href="{{url}}" target="_blank">{{name}}</a> &nbsp;
                                {{/datasets}}
                              </div>
                            </div>
                          </div>
                          {{/has_datasets}}

                        </div>
                    </div>

                    <div class="row end-xs end-sm top-sm tb-tweet">
                        <div class="col-xs-12 col-sm-offset-2 col-sm-8 tweet-right">
                          <div class="tweet">
                            {{#top_article}}
                            <p>hey <a href="http://www.twitter.com/{{screen_name}}" target="_blank">{{screen_name}}</a> you should check out <a href="{{article_url}}" target="_blank">{{article_url}}</a></p>
                            {{/top_article}}
                          </div>
                        </div>
                        <div class="first-xs last-sm col-xs-3 col-sm-2">
                            <img src="../../img/chat-tb.svg" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{/tweets}}
      {{/poli}}

      <footer>
          <div class="row center-xs">
              <div class="col-xs-12">
                  <p>Made with love by <strong>Team Truthbot</strong> for <a href="http://govhack.org" target="_blank">Govhack 2016</a></p>
                  <div class="row center-xs center-sm between-xs around-sm">
                      <div class="col-xs-6 col-sm-3">
                          <a class="team" href="https://twitter.com/auastro" target="_blank">
                              <img src="../../img/andy.jpg"> 
                              @auastro
                          </a>
                      </div>
                      <div class="col-xs-6 col-sm-3">
                          <a class="team" href="https://twitter.com/summerscope" target="_blank">
                              <img src="../../img/laura.jpg"> 
                              @summerscope
                          </a>
                      </div>
                      <div class="col-xs-6 col-sm-3">
                          <a class="team" href="https://twitter.com/washingtonirvng" target="_blank">
                              <img src="../../img/ant.jpg"> 
                              @washingtonirvng
                          </a>
                      </div>
                      <div class="col-xs-6 col-sm-3">
                          <a class="team" href="https://twitter.com/whereswallly" target="_blank">
                              <img src="../../img/nat.jpg"> 
                              @whereswallly
                          </a>
                      </div>
                  </div>
                  <p><small>Spun up fast using <a href="https://html5boilerplate.com" target="_blank">HTML5 Boilerplate</a> &amp; <a href="flexboxgrid.com" target="_blank">Flexbox Grid</a> frameworks.</small></p>
              </div>
          </div>
      </footer>
        
      <script>window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
              t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);
           
          t._e = [];
          t.ready = function(f) {
              t._e.push(f);
          };
           
          return t;
      }(document, "script", "twitter-wjs"));</script>

      <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
      <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
      <script src="js/plugins.js"></script>
      <script src="js/main.js"></script>

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <script>
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='https://www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          ga('create','UA-XXXXX-X','auto');ga('send','pageview');
      </script>
    </body>
</html>
